/* Mobilanpassning */

@media (max-width: 1200px) {
  .card_row {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  body {
    height: 100%;
  }

  #dashboard {
    margin: 4rem 0;
  }
}

@media (max-width: 600px) {
  .card_row {
    grid-template-columns: 1fr;
  }
}
